.play-video{
   flex-basis: 69%; /* the amount of space it will take with respect to its parent*/
}

.play-video iframe{
    width: 100%;
    height: 37vw;
}

.play-video h3{
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}

.play-video-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.play-video-info img{
    width: 20px;
    margin-right: 8px;
}

.play-video span{
    /* display: flex = Block-level flex container (takes full width)
display: inline-flex = Inline-level flex container (only takes needed width) */
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.publisher div{
/* flex: 1 is a common CSS shorthand used in Flexbox layouts. It means the flex item will:
Grow to fill any available space (evenly if multiple items use flex: 1)
Shrink if needed when the container is too small
Start from a base size of 0 (i.e., flex-basis: 0) */

    flex: 1;
    line-height: 18px;
}

.publisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.publisher div p{
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.publisher div span{
    font-size: 13px;
    color: #5a5a5a;
    margin-left: 0;
}

.publisher button{
    background: red;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 15px;
    cursor:pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.video-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
    margin-top: 19px;
}

.video-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}

.comment{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comment h3{
    font-size: 14px;
    margin-bottom: 2px;
    letter-spacing: 0.9px;

}

.comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}

.comment p{
    margin-top: 0;
}

.comment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}

.comment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

#dislike_img{
    margin-top: 10px;
}

.comment-action span{
    margin-right: 20px;
    color: #5a5a5a;
    margin-top: 10px;
    margin-left: 0;
}

/* Responsive PlayVideo */
@media (max-width: 900px) {
  .play-video{
    flex-basis: 100%;
  }
  .play-video iframe {
    width: 100%;
    height: 50vw;
  }
  .play-video .play-video-info span{
    margin-left: 0;
    margin-right: 15px;
    margin-top: 15px;
  }

  .video-description{
    padding-left: 0;
  }
}

