.recommended{
    flex-basis: 30%;
}

.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img{
    flex-basis: 49%;
    width: 50%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.video-info{
    flex-basis: 49%;
}

.video-info h4{
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 5px;

}

.video-info p{
    font-size: 1.2rem;

}

@media (max-width:900px) {
    .recommended{
        flex-basis: 100%;
    }
    
}