/* css properties for complete project */

html {
  height: 100%;
  width: 100%;
  font-size:62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Urbanist" , sans-serif;
}

a{
  text-decoration: none;
  color: #5a5a5a;
}
img{
  cursor: pointer;
}

.flex-div{
  display: flex;
  align-items: center;
}

/* body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;
  place-items:center;
} */